<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Login</title>
    <h1 align="center">欢迎使用Django测试系统</h1>
    <hr />
    <form action="static_display1.html">
{#        {% csrf_token %}#}
        姓名：<input type="text" name="login_user">
        密码：<input type="password" name="login_password">
        <br />
        <br />


        <p> ---  <input type="submit" value="Login"></p>

    </form>


        <form action="static_display2.html" method="get" name="sub2">
{#            {% csrf_token %}#}
        <p> --- <input type="submit" value="Register"></p>
        </form>
</head>
<body>

</body>
</html>